<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.CAMERA"
        tools:node="remove" />

    <uses-feature
        android:name="android.hardware.camera"
        tools:node="remove" />
    <uses-feature
        android:name="android.hardware.camera.front"
        tools:node="remove" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        tools:node="remove" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        tools:node="remove" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        tools:node="remove" />
    <uses-feature
        android:name="android.hardware.wifi"
        tools:node="remove" />

    <application>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            tools:node="remove" />
    </application>
</manifest>
