[Desktop Entry]
Name=MDesk
NoDisplay=true
MimeType=x-scheme-handler/rustdesk;
TryExec=rustdesk
Exec=rustdesk %u
Icon=mdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
